.orgSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    color: #6278F7;
    text-align: center;
    font-family: 'Prata', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    padding-bottom: 1.5rem;
    border-bottom: 4px solid #6278f7;
}

.orgSection img{
    position: absolute;
    right: 30%;
    cursor: pointer;
}